In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Dataset/Data (1).csv")

In [ ]:
data.head()

   Day  Month  Hour  Minute Class
0    1      1     0       0  HIGH
1    1      1     0      10  HIGH
2    1      1     0      20  HIGH
3    1      1     0      30  HIGH
4    1      1     0      40  HIGH

In [ ]:
data['Class'].unique()

array(['HIGH', 'NORMAL', 'LOW'], dtype=object)

In [ ]:
data.shape

(52560, 5)

In [ ]:
x=data.iloc[:,0:4]
y=data.iloc[:,4]

In [ ]:
x.head()

   Day  Month  Hour  Minute
0    1      1     0       0
1    1      1     0      10
2    1      1     0      20
3    1      1     0      30
4    1      1     0      40

In [ ]:
y.head()

0    HIGH
1    HIGH
2    HIGH
3    HIGH
4    HIGH
Name: Class, dtype: object

In [ ]:
data['Class'].value_counts()

HIGH      30037
NORMAL    15470
LOW        7053
Name: Class, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3,random_state=6)

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(x_train, y_train)
y_pred=clf.predict(x_test)

In [ ]:
clf.score(x_test, y_test)

0.6109842719431761

In [77]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(random_state=1, max_iter=200, hidden_layer_sizes=(128)).fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [78]:
y_predicted=clf.predict(x_test)

In [79]:
clf.score(x_test, y_test)

0.8131024860476915

In [80]:
import tensorflow as tf

In [82]:
x_train.shape

(36792, 4)

In [89]:
from sklearn.preprocessing import MinMaxScaler

In [90]:
nums=MinMaxScaler()

In [91]:
cols=x.columns

In [92]:
data[cols] = nums.fit_transform(data[cols])

In [110]:
x=data.iloc[:,0:4]
y=data.iloc[:,4]

In [98]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder().fit(y)
y = label_encoder.transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3,random_state=6)

In [104]:
%%time
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128,activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))
model.compile(optimizer='adam', loss="sparse_categorical_crossentropy",metrics=['accuracy'])
model.fit(x_train,y_train, epochs=30)

Epoch 1/30
1150/1150 [==============================] - 3s 2ms/step - loss: 0.7771 - accuracy: 0.6199
Epoch 2/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.6853 - accuracy: 0.6669
Epoch 3/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.6549 - accuracy: 0.6795
Epoch 4/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.6304 - accuracy: 0.6909
Epoch 5/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.6073 - accuracy: 0.7071
Epoch 6/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5880 - accuracy: 0.7203
Epoch 7/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5713 - accuracy: 0.7342
Epoch 8/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7454
Epoch 9/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7535
Epoch 10/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7603
Epoch 11/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7615
Epoch 12/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7674
Epoch 13/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7687
Epoch 14/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5188 - accuracy: 0.7708
Epoch 15/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5149 - accuracy: 0.7725
Epoch 16/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5118 - accuracy: 0.7742
Epoch 17/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5090 - accuracy: 0.7770
Epoch 18/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5067 - accuracy: 0.7786
Epoch 19/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5033 - accuracy: 0.7793
Epoch 20/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.5016 - accuracy: 0.7803
Epoch 21/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4979 - accuracy: 0.7812
Epoch 22/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4962 - accuracy: 0.7827
Epoch 23/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4940 - accuracy: 0.7833
Epoch 24/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4908 - accuracy: 0.7843
Epoch 25/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4873 - accuracy: 0.7882
Epoch 26/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4829 - accuracy: 0.7897
Epoch 27/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4798 - accuracy: 0.7929
Epoch 28/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4764 - accuracy: 0.7939
Epoch 29/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4731 - accuracy: 0.7963
Epoch 30/30
1150/1150 [==============================] - 2s 2ms/step - loss: 0.4699 - accuracy: 0.7976
CPU times: user 1min 9s, sys: 4.68 s, total: 1min 14s
Wall time: 1min 22s