In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("/content/drive/MyDrive/Dataset/Test_dataset_ev_csv.csv")

In [4]:
data.head()

,Day,Month,Hour,Minute,Class,Location
0,1,1,0,0,HIGH,"Power House Rd, Block AD, Dakshini Pitampura, ..."
1,1,1,0,10,HIGH,"Power House Rd, Block AD, Dakshini Pitampura, ..."
2,1,1,0,20,HIGH,"Power House Rd, Block AD, Dakshini Pitampura, ..."
3,1,1,0,30,HIGH,"Power House Rd, Block AD, Dakshini Pitampura, ..."
4,1,1,0,40,HIGH,"Power House Rd, Block AD, Dakshini Pitampura, ..."

In [ ]:
data.shape

(17280, 6)

In [9]:
data.columns

Index(['Day', 'Month', 'Hour', 'Minute', 'Class', 'Location'], dtype='object')

In [15]:
xcols=['Day','Month','Hour','Minute','Location']
y=data['Class']

In [16]:
x=data[xcols]

In [17]:
x.head()

   Day  Month  Hour  Minute                                           Location
0    1      1     0       0  Power House Rd, Block AD, Dakshini Pitampura, ...
1    1      1     0      10  Power House Rd, Block AD, Dakshini Pitampura, ...
2    1      1     0      20  Power House Rd, Block AD, Dakshini Pitampura, ...
3    1      1     0      30  Power House Rd, Block AD, Dakshini Pitampura, ...
4    1      1     0      40  Power House Rd, Block AD, Dakshini Pitampura, ...

In [18]:
y.head()

0    HIGH
1    HIGH
2    HIGH
3    HIGH
4    HIGH
Name: Class, dtype: object

In [19]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder().fit(x['Location'])
x['Location'] = label_encoder.transform(x['Location'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3,random_state=6)

In [21]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(x_train, y_train)
y_pred=clf.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [22]:
clf.score(x_test, y_test)

0.7000385802469136

In [23]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(random_state=1, max_iter=200, hidden_layer_sizes=(128)).fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [24]:
y_predicted=clf.predict(x_test)

In [25]:
clf.score(x_test, y_test)

0.8414351851851852

In [41]:
import pickle

In [42]:
filename = 'finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))

In [26]:
import tensorflow as tf

In [ ]:
x_train.shape

(36792, 4)

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
nums=MinMaxScaler()

In [34]:
cols=x.columns

In [36]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder().fit(x['Location'])
x['Location'] = label_encoder.transform(x['Location'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
x[cols] = nums.fit_transform(x[cols])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [33]:
x=data[['Day','Month','Hour','Minute','Location']]
y=data['Class']

In [38]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder().fit(y)
y = label_encoder.transform(y)

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3,random_state=6)

In [40]:
%%time
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128,activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))
model.compile(optimizer='adam', loss="sparse_categorical_crossentropy",metrics=['accuracy'])
model.fit(x_train,y_train, epochs=30)

Epoch 1/30
378/378 [==============================] - 1s 2ms/step - loss: 0.7535 - accuracy: 0.6494
Epoch 2/30
378/378 [==============================] - 1s 2ms/step - loss: 0.6373 - accuracy: 0.7175
Epoch 3/30
378/378 [==============================] - 1s 2ms/step - loss: 0.6008 - accuracy: 0.7266
Epoch 4/30
378/378 [==============================] - 1s 2ms/step - loss: 0.5714 - accuracy: 0.7367
Epoch 5/30
378/378 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7410
Epoch 6/30
378/378 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7546
Epoch 7/30
378/378 [==============================] - 1s 2ms/step - loss: 0.5184 - accuracy: 0.7620
Epoch 8/30
378/378 [==============================] - 1s 2ms/step - loss: 0.5081 - accuracy: 0.7694
Epoch 9/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4998 - accuracy: 0.7717
Epoch 10/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4933 - accuracy: 0.7765
Epoch 11/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4873 - accuracy: 0.7795
Epoch 12/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4813 - accuracy: 0.7857
Epoch 13/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4762 - accuracy: 0.7908
Epoch 14/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4709 - accuracy: 0.7940
Epoch 15/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4677 - accuracy: 0.7982
Epoch 16/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4637 - accuracy: 0.7988
Epoch 17/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4587 - accuracy: 0.8072
Epoch 18/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4531 - accuracy: 0.8114
Epoch 19/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4487 - accuracy: 0.8167
Epoch 20/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4451 - accuracy: 0.8181
Epoch 21/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4400 - accuracy: 0.8202
Epoch 22/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4367 - accuracy: 0.8201
Epoch 23/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4337 - accuracy: 0.8232
Epoch 24/30
378/378 [==============================] - 1s 3ms/step - loss: 0.4307 - accuracy: 0.8264
Epoch 25/30
378/378 [==============================] - 1s 3ms/step - loss: 0.4271 - accuracy: 0.8279
Epoch 26/30
378/378 [==============================] - 1s 3ms/step - loss: 0.4260 - accuracy: 0.8285
Epoch 27/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4217 - accuracy: 0.8290
Epoch 28/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.8300
Epoch 29/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4145 - accuracy: 0.8336
Epoch 30/30
378/378 [==============================] - 1s 2ms/step - loss: 0.4137 - accuracy: 0.8337
CPU times: user 22.4 s, sys: 1.71 s, total: 24.1 s
Wall time: 42 s